/**
 * Place your custom CSS styles here.
 **/
/*.special-plugin-button{
	background: #6779DB !important;
	margin-bottom: 11px !important;
    /*add !important to make sure our button gets the styles we want 
}*/